	* {
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	}
body {
	background-color: #161616;
	padding-right: 40px;
	padding-left: 40px;
	font-family: 'Hind', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Exo', sans-serif;

}
.row {
	width: 80%;
	margin: auto;
}
section {
	text-align: center;
	background-color: #292929;
	border: 4px solid #292929;
	position: relative;
	border-radius: 5px;
	color: #e3e3e3;
	padding: 15px;
	margin-bottom: 15px;
}
section:hover {
	border: 4px solid #161616;
	background-color: #2bc4a6;
	color: #161616;
	font-weight: bold;
	cursor: pointer;
}
h1 {
	color: #2bc4a6;
	margin: 50px 0;
	text-align: center;
}
div#container {
	position: relative;
}
.circle {
  display: block;
  margin-left: auto;
  margin-top: 120px;
  margin-right: auto;
  width: 15%;
}